<header class="bg-gray-800 text-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center">
        <h1 class="text-3xl font-bold">CricInfo</h1>
        <nav>
          <ul class="flex justify-between border-b border-gray-700">
            <li><a [routerLink]="'/home'" href="#" class="text-gray-300 hover:underline py-2 px-4 hover:bg-gray-700">Home</a></li>
            <li><a [routerLink]="'/live'" href="#" class="text-gray-300 hover:underline py-2 px-4 hover:bg-gray-700">Live Matches</a></li>
            <li><a [routerLink]="'/history'" href="#" class="text-gray-300 hover:underline py-2 px-4 hover:bg-gray-700">History</a></li>
            <li><a [routerLink]="'/point-table'" href="#" class="text-gray-300 hover:underline py-2 px-4 hover:bg-gray-700">Point-Table</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>  
<div class="px-28 py-8">
  <router-outlet></router-outlet>
</div>